extends ../layout

include ../templates/bootstrap-accordion

block content
  h1 Creating: Process

  form#newProcess-form.well(action="#" onsubmit="event.preventDefault(); saveProcess();")
    .form-group
      input.form-control(type="hidden" name="prev_ptr")
      // ts added upon submission
      h4
        | Query-description:
      p#queryDescr
        // added upon page-rdy
      +accordion('accordion')
        each source in sources
          +accordion-item-default('"'+source.title+'" by '+source.author, 'accordion')
            a(target="_blank" href="/api/sources/"+source._id style="float: right;")
              | View source
            input.form-control(type="hidden" name=source._id+"id" value=source._id)
            label(for=source._id+"q-applicability")
              | Applicability 
              span(class="glyphicon glyphicon-info-sign" title="How well does the source apply to the given query (Topic, Aspect)?")
              span(class="glyphicon glyphicon-question-sign" title="This is connected to the “Subject Relevance” score of a source, but applied to the respective query instead.")
            input(type="number" name=source._id+"q-applicability" class="form-control" min="0", max="7" onchange="saveProcessDraft();" required)
            label(for=source._id+"q-relevance")
              | Relevance 
              span(class="glyphicon glyphicon-info-sign" title="How important is the insight retrieved from the source to answering the query (Preciseness, Specialized)?")
              span(class="glyphicon glyphicon-question-sign" title="This partly refers to how much of the final answer was due to this specific source, but not how much of the source could be used (which partly results from the holism score). Relevance focuses on the speciality of insight and how groundbreaking a source appears to be.")
            input(type="number" name=source._id+"q-relevance" class="form-control" min="0", max="7" onchange="saveProcessDraft();" required)
            label(for=source._id+"q-holism")
              | Holism 
              span(class="glyphicon glyphicon-info-sign" title="How good would the source answer the query on its own (Generality, Spanning)?")
              span(class="glyphicon glyphicon-question-sign" title="A general metric for how extensive a source tackles the questions posed by the given query. Thus, a) a relevant, ‘high-quality’ source performs better, b) a more ubiquitous source is expected to score higher. This is connected to the “Informative Content” score of a source, but here applied to the answering of a query.")
            input(type="number" name=source._id+"q-holism" class="form-control" min="0", max="7" onchange="saveProcessDraft();" required)
            label(for=source._id+"comment")
              | Comment (optional)
            textarea.form-control(name=source._id+"comment" rows="3" onchange="saveProcessDraft();")
        label(for="proposition")
          | Proposition
        textarea.form-control(name="proposition" rows="6" onchange="saveProcessDraft();" required)
        button.btn.btn-info(type="button" data-toggle="modal" data-target="#addNextQuery-modal" style="margin:1em; float: right;") Open connected Query
    input.btn.btn-success(type="submit")

  include addNextQuery-modal

  script(src="/scripts/process.js")