extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/visu.css')
  h1 Research Overview

  .table-responsive
    table.table
      //- thead
      //-   tr
      //-     each key in tableDisplayKeys
      //-       th
      //-         if (key === 'q-subjectRelevance')
      //-           | Subject Relevance
      //-         else if (key === 'q-informativeContent')
      //-           | Informative Content
      //-         else if (key === 'q-context')
      //-           | Context
      //-         else if (key === 'q-illustration')
      //-           | Illustration
      //-         else
      //-           =key
      tbody
        tr
          td.th-left
            | Queries 
          each item in queries
            -var statusColor
            if (item.status == 'done')
              -statusColor = 'green'
            else if (item.status == 'active')
              -statusColor = 'yellow'
            else if (item.status == 'draft')
              -statusColor = 'orange'

            td
              .well.item(id=item._id style='border-color:'+statusColor+';')
                span.glyphicon.glyphicon-transfer
                b
                  | Num. of Sources: 
                if (item.srcs !== undefined)
                  =item.srcs.length
                else
                  | 0
                p
                  i
                    =item.descr
        tr
          td.th-left
            | Processes
          each item in processes
            -var statusColor
            if (item.status == 'done')
              -statusColor = 'green'
            else if (item.status == 'active')
              -statusColor = 'yellow'
            else if (item.status == 'draft')
              -statusColor = 'orange'

            td
              .well.item(id=item._id style='border-color:'+statusColor+';')
                span.glyphicon.glyphicon-transfer
                b
                  | App. 
                input(id=item._id+'-q-applicability' type='text' disabled)
                b
                  |  Rel. 
                input(id=item._id+'-q-relevance' type='text' disabled)
                b
                  |  Hol. 
                input(id=item._id+'-q-holism' type='text' disabled)
                p
                  i
                    =item.proposition
        tr
          td.th-left
            | Results
          each item in results
            -var statusColor
            if (item.status == 'done')
              -statusColor = 'green'
            else if (item.status == 'active')
              -statusColor = 'yellow'
            else if (item.status == 'draft')
              -statusColor = 'orange'

            td
              .well.item(id=item._id style='border-color:'+statusColor+';')
                span.glyphicon.glyphicon-transfer
                b
                  | Eff. 
                input(id=item._id+'-q-researchEffort' type='text' disabled)
                b
                  |  Nov. 
                input(id=item._id+'-q-novelty' type='text' disabled)
                b
                  |  QoR 
                input(id=item._id+'-q-qor' type='text' disabled)
                p
                  i
                    =item.tldr