extends ../layout

include ../templates/bootstrap-modal

block content
  link(rel='stylesheet', href='/stylesheets/visu.css')
  h1 Research Overview

  h2 Sources:
  .well#sources
    each source in sources
      -var srcTitle = '"'+source.title+'" by '+source.authors
      button.src.btn.btn-info(id=source._id title=srcTitle
        type="button" data-toggle="modal" data-target='#'+source._id+'-modal'
        onmouseenter='showLinking("src","'+source._id+'", true);' 
        onmouseleave='showLinking("src","'+source._id+'", false);')
        =source.title
      +modal(source._id+'-modal', source.title, 'Retrieved: '+source.urldate)
        dl.row
          each val, key in source
            if (['_id','title','urldate', 'ptrs'].indexOf(key) < 0)
              if (key.substring(0,2) === 'q-')
                -var name = key.substring(2).replace(/(?:^|\.?)([A-Z])/g, function (x,y){return " " + y.toUpperCase()}).replace(/^_/, "")
                dt.col-sm-5
                  if (key === 'q-subjectRelevance')
                    span(class="glyphicon glyphicon-info-sign" title="How generally - subjectively - useful is the source expected to be (Topic, Research-Question)?")
                    span(class="glyphicon glyphicon-question-sign" title="Takes into account how relevant the source is expected to become concerning queries on the literature research subject.")
                  else if (key === 'q-informativeContent')
                    span(class="glyphicon glyphicon-info-sign" title="How much formal information is actually present in the source (Descriptions, Autonomy)?")
                    span(class="glyphicon glyphicon-question-sign" title="Describes the amount of formal descriptions, motivations and generally coherent information present in the source. Thus a) the more descriptive a source the more formal information it holds, b) more referencing equals less information, c) more precise distinction (generally) indicates less information content.")
                  else if (key === 'q-context')
                    span(class="glyphicon glyphicon-info-sign" title="How precisely does the source motivate its findings and respective context (References, Topology)?")
                    span(class="glyphicon glyphicon-question-sign" title="This mainly focuses on cross references, where many references indicate a holistically covered research. The more concise a source appears, the more in-depth this source can be explored without running into blind ends not mentioned / thought of by the author(s).")
                  else if (key === 'q-illustration')
                    span(class="glyphicon glyphicon-info-sign" title="How well is information processed to make it easy to understand / put into context (Figures, Structures)?")
                    span(class="glyphicon glyphicon-question-sign" title="This - compared to conciseness - mainly focuses on the way the information is being presented concerning utility and understandability. The more illustration (figures, visualization, structures) a source uses to explains its motivation, the easier the source can be used by non-domain-experts.")
                  i(style="margin-left: 1em;")
                    =name[0].toUpperCase()+name.substring(1)
                dd.col-sm-7
                  b
                    =val 
                  | /7
              else
                dt.col-sm-2
                  =key[0].toUpperCase()+key.substring(1)
                dd.col-sm-10
                  =val

  h2 Source Retrieval Efforts (SREs):
  .well#sres
    each sre in sres
      button.sre.btn.btn-primary(id=sre._id title='['+sre.keywords+'] in ['+sre.platforms+']'
        type="button" data-toggle="modal" data-target='#'+sre._id+'-modal'
        onmouseenter='showLinking("sre","'+sre._id+'", true);' 
        onmouseleave='showLinking("sre","'+sre._id+'", false);')
        =sre.keywords
      +modal(sre._id+'-modal', sre.ts, 'Backlog: '+sre.backlog)
        h4 Keywords:
        ul
          each keyword in sre.keywords
            li 
              =keyword
        h4 Platforms:
        ul
          each platform in sre.platforms
            li 
              =platform

  h2 Items (Queries, Processes, Results):
  .table-responsive
    table.table
      tbody

        tr
          td.th-left Queries 
          each item in queries
            -var statusColor
            if (item.status == 'done')
              -statusColor = 'green'
            else if (item.status == 'active')
              -statusColor = 'yellow'
            else if (item.status == 'draft')
              -statusColor = 'orange'

            td
              .well.item(id=item._id style='border-color:'+statusColor+';'
                onmouseenter='showLinking("query","'+item._id+'", true);'
                onmouseleave='showLinking("query","'+item._id+'", false);')
                a(target='_blank' href='/admin/queries/'+item._id)
                  span.glyphicon.glyphicon-link
                b
                  | Num. of Sources: 
                if (item.srcs !== undefined)
                  =item.srcs.length
                else
                  | 0
                p
                  i
                    =item.descr
                    
        tr
          td.th-left Processes
          each q in queries
            -var item = undefined
            each p in processes 
              if (p.prev_ptr == q._id)
                -item = p
            if (item !== undefined)
              // determine border color depending on status of item
              -var statusColor
              if (item.status == 'done')
                -statusColor = 'green'
              else if (item.status == 'active')
                -statusColor = 'yellow'
              else if (item.status == 'draft')
                -statusColor = 'orange'
              // fill td with content
              td
                .well.item(id=item._id style='border-color:'+statusColor+';'
                  onmouseenter='showLinking("process","'+item._id+'", true);'
                  onmouseleave='showLinking("process","'+item._id+'", false);')
                  a(target='_blank' href='/admin/processes/'+item._id)
                    span.glyphicon.glyphicon-link
                  b App. 
                  input(id=item._id+'-q-applicability' type='text' disabled)
                  b  Rel. 
                  input(id=item._id+'-q-relevance' type='text' disabled)
                  b  Hol. 
                  input(id=item._id+'-q-holism' type='text' disabled)
                  //- p
                  //-   i
                  //-     =item.proposition
            else
              td
              
        tr
          td.th-left Results
          each q in queries
            -var item = undefined
            each p in processes 
              if (p.prev_ptr == q._id)
                each r in results
                  if(r.prev_ptr == p._id)
                    -item = r
            if (item !== undefined)
              // determine border color depending on status of item
              -var statusColor
              if (item.status == 'done')
                -statusColor = 'green'
              else if (item.status == 'active')
                -statusColor = 'yellow'
              else if (item.status == 'draft')
                -statusColor = 'orange'
              // fill td with content
              td
                .well.item(id=item._id style='border-color:'+statusColor+';'
                  onmouseenter='showLinking("result","'+item._id+'", true);'
                  onmouseleave='showLinking("result","'+item._id+'", false);')
                  a(target='_blank' href='/admin/results/'+item._id)
                    span.glyphicon.glyphicon-link
                  b Eff. 
                  input(id=item._id+'-q-researchEffort' type='text' disabled)
                  b  Nov. 
                  input(id=item._id+'-q-novelty' type='text' disabled)
                  b  QoR 
                  input(id=item._id+'-q-qor' type='text' disabled)
                  p
                    i
                      =item.tldr
            else
              td

  script(src="/scripts/visuIndex.js")