extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/visu.css')
  h1 Research Overview

  .table-responsive
    table.table
      tbody
        // -------------
        // - Queries
        // ----
        tr
          td.th-left
            | Queries 
          each item in queries
            -var statusColor
            if (item.status == 'done')
              -statusColor = 'green'
            else if (item.status == 'active')
              -statusColor = 'yellow'
            else if (item.status == 'draft')
              -statusColor = 'orange'

            td
              .well.item(id=item._id style='border-color:'+statusColor+';')
                span.glyphicon.glyphicon-transfer
                span.glyphicon.glyphicon-list
                b
                  | Num. of Sources: 
                if (item.srcs !== undefined)
                  =item.srcs.length
                else
                  | 0
                p
                  i
                    =item.descr
        // -------------
        // - Processes
        // ----
        tr
          td.th-left
            | Processes
          each q in queries
            -var item = undefined
            each p in processes 
              if (p.prev_ptr == q._id)
                -item = p
            if (item !== undefined)
              // determine border color depending on status of item
              -var statusColor
              if (item.status == 'done')
                -statusColor = 'green'
              else if (item.status == 'active')
                -statusColor = 'yellow'
              else if (item.status == 'draft')
                -statusColor = 'orange'
              // fill td with content
              td
                .well.item(id=item._id style='border-color:'+statusColor+';')
                  span.glyphicon.glyphicon-transfer
                  span.glyphicon.glyphicon-list
                  b
                    | App. 
                  input(id=item._id+'-q-applicability' type='text' disabled)
                  b
                    |  Rel. 
                  input(id=item._id+'-q-relevance' type='text' disabled)
                  b
                    |  Hol. 
                  input(id=item._id+'-q-holism' type='text' disabled)
                  p
                    i
                      =item.proposition
            else
              td
        // -------------
        // - Results
        // ----
        tr
          td.th-left
            | Results
          each q in queries
            -var item = undefined
            each p in processes 
              if (p.prev_ptr == q._id)
                each r in results
                  if(r.prev_ptr == p._id)
                    -item = r
            if (item !== undefined)
              // determine border color depending on status of item
              -var statusColor
              if (item.status == 'done')
                -statusColor = 'green'
              else if (item.status == 'active')
                -statusColor = 'yellow'
              else if (item.status == 'draft')
                -statusColor = 'orange'
              // fill td with content
              td
                .well.item(id=item._id style='border-color:'+statusColor+';')
                  span.glyphicon.glyphicon-transfer
                  span.glyphicon.glyphicon-list
                  b
                    | Eff. 
                  input(id=item._id+'-q-researchEffort' type='text' disabled)
                  b
                    |  Nov. 
                  input(id=item._id+'-q-novelty' type='text' disabled)
                  b
                    |  QoR 
                  input(id=item._id+'-q-qor' type='text' disabled)
                  p
                    i
                      =item.tldr
            else
              td